<ion-view view-title="Add Users">
<ion-content class="padding">
         <form>
        <ion-list>
            <label class="item item-input">
                <input type="text" ng-model="Add.username" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="Add.password" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="Add.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="Add.notelp" placeholder="Nomor Telpon">
            </label>